body {
  font-family: Arial, sans-serif;
  /*This sets the font for the rest of the program untill changed*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

#textBox {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.5em;
  border-radius: 5px;
  z-index: 1;
  padding: 5px;
  right: -175px;
  border: 2px solid rgb(0, 0, 0);
}
/*This is the css element of the text box that is above the button*/
.button1 {
  font-size: 1.5em;
  font-weight: bold;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.3s;
}
/*This is the css way for the button it just shows the padding the font size the color and the animation that makes it click*/
.button1:hover {
  background-color: #ff4d4d;
}
/*This is the hover color it makes it slightly lighter red when hovered*/
.button1:active {
  transform: translateY(4px);
}
/*This helps the button move up and down.*/
.angry{
  animation: angry-move   .5s linear infinite;
}
@keyframes angry-move{
  0% { transform: translateX(0px);
  }
  25% {
    transform: translateX(-100px);
  }

  75% {
    transform: translateX(100px);
  }
}
/*This is a animation that moves the button to the right and left 100 pixels.*/
.angry2{
  animation: size   2s linear infinite;
}
@keyframes size{
  0% { height: 10%;
       width: 10%
  }
  25% {
    height: 5%;
    width: 5%;
  }

  75% {
    height: 100%;
    width: 100%;
  }
}
/*This changes the size of the button to confuse the people clicking it and disorintate them.*/