body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

#textBox {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.5em;
  border-radius: 5px;
  z-index: 1;
  padding: 5px;
  right: -175px;
  border: 2px solid rgb(0, 0, 0);
}

.button1 {
  font-size: 1.5em;
  font-weight: bold;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.3s;
}

.button1:hover {
  background-color: #ff4d4d;
}

.button1:active {
  transform: translateY(4px);
}

.angry{
  animation: angry-move   .5s linear infinite;
}
@keyframes angry-move{
  0% { transform: translateX(0px);
  }
  25% {
    transform: translateX(-100px);
  }

  75% {
    transform: translateX(100px);
  }
}

